/* Browser Scrollbar */
::-webkit-scrollbar {
  width: 15px;
  background: black;
}

/* Browser Scrollbar thumb */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgb(255, 255, 255);
}

.App {
  font-family: system-ui;
  /* background-image: repeating-linear-gradient(45deg, rgb(29, 22, 22), red, transparent 100px); */
  background-color: black;
  color: white;
}

.dark{
  background: black;
  color: white;
}

thead{
  padding: 5px 50px;
}

table, th, td{
  border: 2px solid yellow;
  padding: 15px 50px;
  color: white;
}